body,
.fixed-bottom {
    max-width: 100%;
    margin: auto
}

.wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
    overflow: auto;
}

.logo {
    border-radius: 10px;
    border: 2px solid #FF6347;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    color: white;
    padding: 10px
}

.navbar {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.site-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-success {
    margin-left: 10px
}

.menu-option {
    width: 200px;
    padding: 0px 10px;
    color: white;

}

.well {
    border: 1px solid #F2A036;
    border-radius: 5px;
    background-color: #F2A036;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 10px;
    margin-top: 15px;
}

.panel-primary,
.footer-info {
    border: 1px solid rgb(30, 8, 110);
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-info {
    margin-bottom: 20px;
}

.panel-heading {
    background-color: #F2A036;
    border-bottom: 1px solid #F2A036;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    padding: 5px 0px;
}

.panel-title,
.panel-body {
    padding-left: 10px;
}

.team-member,
.stack-details {
    margin-bottom: 10px;
}

.member-name,
.stack-name,
.homepage-heading,
.plot-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    padding: 0px;
    font-weight: 600;
}

.stack-name {
    font-size: 16px;
}

.plot-name {
    font-size: 16px;
    font-style: italic;
}

.member-info,
.stack-info,
.homepage-info,
.plot-info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    text-align: justify;
}

.homepage-info {
    padding: 10px 0px;
}

.plot-info {
    padding-bottom: 10px;
}

.porfolio-url {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding-right: 20px;
    font-weight: 600;

}

.heading,
.sub-heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    padding: 0px;
    font-weight: 600;
    color: white;
}

.heading {
    padding-top: 100px;
}

.sub-heading {
    font-size: 24px;
}

/* The styles for the parallax */
.hero {
    position: relative;
    height: 400px;
    padding: 20px;
    margin-bottom: 10px;
    background: black;
    background-image: url("../images/Homepage-Top-Banner.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
}