body,
.fixed-bottom {
    max-width: 980px;
    margin: auto
}

.logo {
    border: 1px solid sandybrown;
    border-radius: 1px;
    background-color: sandybrown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:white;
    padding: 5px
}


.navigation {
    background-color: wheat;
    border: 2px solid wheat;
    padding: 0;
    /* margin: 5px, 5px, 5px, 5px; */
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.collapse #navbarRight {
    background-color:wheat;
    color: white;
    padding: 5px;

}

/* -------------------------------- */
/* The styles for the parallax */
.hero {
    position: relative;
    height: 600px;
    width: 100%;
    padding: 10px;
    margin: 0;
    background:white;
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
  .heroLanding {
  background-image: url("../images/navbar-header.jpg");
  }


/* ----------------------------- */


.site-body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.text-success {
    margin-left: 10px
}

.menu-option {
    width: 200px;
    padding: 0px 10px;
    color: black;
}

.well {
    border: 1px solid rgb(30, 8, 110);
    border-radius: 5px;
    background-color: rgb(55, 23, 172);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    padding: 10px
}

.panel-primary,
.footer-info {
    border: 1px solid rgb(30, 8, 110);
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.footer-info {
    margin-bottom: 20px;
}

.panel-heading {
    background-color: rgb(55, 23, 172);
    border-bottom: 1px solid rgb(30, 8, 110);
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    padding: 5px 0px;
}

.panel-title,
.panel-body {
    padding-left: 10px;
}

.team-member,
.stack-details {
    margin-bottom: 10px;
}

.member-name,
.stack-name,
.homepage-heading,
.plot-name {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    padding: 0px;
    font-weight: 600;
}

.stack-name {
    font-size: 16px;
}

.plot-name {
    font-size: 16px;
    font-style: italic;
}

.member-info,
.stack-info,
.homepage-info,
.plot-info {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    text-align: justify;
}

.homepage-info {
    padding: 10px 0px;
}

.plot-info {
    padding-bottom: 10px;
}

.porfolio-url {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    padding-right: 20px;
    font-weight: 600;

}

.heading,
.sub-heading {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 36px;
    padding: 0px;
    font-weight: 600;
}

.sub-heading {
    font-size: 16px;
}