<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NYC Eviction Record</title>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- style information -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

  <div class="wrapper">
    <!-- nav bar-->
    <nav class="navbar navbar-expand-lg" style="background-color:  #F2A036; color: white">
      <a class="navbar-brand logo" href="/" style="background-color: #F2A036; color: white">NYC Eviction</a>
      <div class="col-6"></div>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
          <li><a href="/method" class="menu-option">Method</a></li>
          <!-- NEW CODE -->
          <li class="nav-item dropdown">
            <a href="#" class="menu-option dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="true"> <span class="nav-label">Visualizations</span> <span class="caret"></span></a>
            <ul class="menu-option dropdown-menu" style="background-color:  #F2A036">
              <li><a href="/byborough" class="menu-option">By Borough</a></li>
              <li><a href="/byproperty" class="menu-option">By Property Type</a></li>
              <li><a href="/byzipcode" class="menu-option">By Zip code</a></li>
              <li><a href="/yearoveryear" class="menu-option">Year over Year</a></li>
            </ul>
          </li>
          <li><a href="/nycmap" class="menu-option">NYC Map</a></li>
          <li><a href="/aboutus" class="menu-option">About Us</a></li>
        </ul>
      </div>
    </nav>

    <!-- container/wrapper-->
    <!-- page header -->
    <div class="hero text-center">
      <p class="heading">About our Team</p>
    </div>
    <div class="container-fluid">
      <!-- top banner -->
      <div class="row">
        <div class="col-md-12">
          <img src="../static/images/Our-Team.jpg" alt="Home Page Top Banner"
            style="padding-bottom: 20px;width:100%;height:600px;">
        </div>
      </div>
      <div class="row team-member">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
          <img src="../static/images/Alfonso.JPG" alt="Alfonso Toruno" style="width:90px;height:100px;">
        </div>
        <div class="col-md-7">
          <span class="member-name">Alfonso Toruno MSc.</span>
          <p class="member-info">Alfonso is a Research Associate at Weill Cornell Medical College in Cancer biology and
            genetics for
            Immunopathology Dept.</p>
        </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class="row team-member">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
          <img src="../static/images/Himani.png" alt="Himani Manglik" style="width:90px;height:100px;">
        </div>
        <div class="col-md-7">
          <span class="member-name">Himani Manglik</span>
          <p class="member-info">Himani graduated with a Bachelor’s degree in Public Policy from the University of
            Chicago. She is interested
            in applying data analytics to uncover policy insights.
          </p>
          <div class="portfolio">
            <a href="https://github.com/hmanglik" class="porfolio-url" target="_blank">[GitHub]</a>
            <a href="https://www.linkedin.com/in/himani-manglik-08290b88/" class="porfolio-url"
              target="_blank">[LinkedIn]</a>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class="row team-member">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
          <img src="../static/images/Kamal.jpg" alt="Kamal Mukherjee" style="width:90px;height:100px;">
        </div>
        <div class="col-md-7">
          <span class="member-name">Kamal Mukherjee</span>
          <p class="member-info">Kamal is an Application Architect at Bank of America, working primarily on Python,
            ReactJS, RESTful API and
            SQL / NoSQL.
          </p>
          <div class="portfolio">
            <a href="https://github.com/kamalnyc17" class="porfolio-url" target="_blank">[GitHub]</a>
            <a href="https://www.linkedin.com/in/kamal-mukherjee-28a9651b/" class="porfolio-url"
              target="_blank">[LinkedIn]</a>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
      <div class="row team-member">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
          <img src="../static/images/Shivani.jpg" alt="Shivani Thakkar" style="width:90px;height:100px;">
        </div>
        <div class="col-md-7">
          <span class="member-name">Shivani Thakkar</span>
          <p class="member-info">Shivani has a Bachelor's degree in Computer Application and a Post-Graduate Diploma in
            Journalism and Mass
            Communication from India. After completing the Data Analytics Bootcamp, she will look for entry level IT
            job.
          </p>
          <div class="portfolio">
            <a href="https://github.com/skylar17" class="porfolio-url" target="_blank">[GitHub]</a>
            <a href="https://www.linkedin.com/in/shivani-t/" class="porfolio-url" target="_blank">[LinkedIn]</a>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
  <!-- jquery-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
</body>

</html>