<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NYC Eviction Record</title>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- style information -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <!-- nav bar-->
    <nav class="navbar navbar-expand-lg" style="background-color:  #F2A036; color: white">
      <a class="navbar-brand logo" href="/" style="background-color:  #F2A036; color: white">NYC Eviction</a>
      <div class="col-6"></div>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
          <li><a href="/method" class="menu-option">Method</a></li>
          <!-- NEW CODE -->
          <li class="nav-item dropdown">
            <a href="#" class="menu-option dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="true"> <span class="nav-label">Visualizations</span> <span class="caret"></span></a>
            <ul class="menu-option dropdown-menu" style="background-color:  #F2A036">
              <li><a href="/byborough" class="menu-option">By Borough</a></li>
              <li><a href="/byproperty" class="menu-option">By Property Type</a></li>
              <li><a href="/byzipcode" class="menu-option">By Zip code</a></li>
              <li><a href="/yearoveryear" class="menu-option">Year over Year</a></li>
            </ul>
          </li>
          <li><a href="/nycmap" class="menu-option">NYC Map</a></li>
          <li><a href="/aboutus" class="menu-option">About Us</a></li>
        </ul>
      </div>
    </nav>

    <!-- page header -->
    <div class="hero text-center">
      <p class="heading">NYC Eviction Record - By Zip Code</p>
      <p class="sub-heading">Use the interactive charts below to explore the dataset</p>
    </div>
    <!-- container/wrapper-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div id="boxPlot"></div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-12 footer-info">
          <p class="plot-info">See a combination box plot and scatter plot for each year between 2017-2019 to visualize
            evictions by zip
            code.</p>
          <p class="plot-info">As shown, the number of evictions has been going down year after year. This could be due
            to
            a multitude of
            factors including tenant organizing, the work of eviction-prevention community organizations, and the
            roll-out
            of NYC Right to Counsel (RTC) in late 2017. RTC gives tenants with incomes below 200 percent of the federal
            poverty level who are facing an eviction in housing court access to an attorney.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- jquery-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    var data = JSON.parse('{{ data | tojson | safe}}');
  </script>
  <script src="../static/js/byZipcode.js"></script>
</body>

</html>