<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NYC Eviction Record</title>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- style information -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

  <!-- Navigation Bar -->  
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand logo" href="/" style="color:white;">NYC Eviction</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- <div class="col-2"></div> -->

      <div class="collapse navbar-collapse" id="navbarRight" style="color:white ; background-color:wheat;">
        <ul class="nav navbar-nav ml-auto">

          <!-- <li class="nav-item">
            <a href="/" class="menu-option">Home</a>
          </li> -->

          <li class="nav-item">
            <a href="/method" class="menu-option">Method</a>
          </li>
          
          <li class="nav-item dropdown">
            <a href="#" class="menu-option dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="true"> <span class="nav-label">Visualizations</span> <span class="caret"></span></a>
            <ul class="menu-option dropdown-menu">
              <li><a href="/byborough" class="menu-option">By Borough</a></li>
              <li><a href="/byproperty" class="menu-option">By Property Type</a></li>
              <li><a href="/byzipcode" class="menu-option">By Zip code</a></li>
              <li><a href="/yearoveryear" class="menu-option">Year over Year</a></li>
            </ul>
          </li>
          <li><a href="/nycmap" class="menu-option">NYC Map</a></li>
          <li><a href="/aboutus" class="menu-option">About Us</a></li>
        </ul>
      </div>

    </nav>
  </div>




  <!-- ------------------------------------- -->
  <div class="wrapper">

    <div class="hero heroLanding text-center">
      <h2 style="color:white; margin-top: 100px";>New York City</h2>
      <h5 style="color:white";>Eviction Record: 2017 - 2019</h5>
      <br>  
    </div>
    

    <!-- container-->
    <div class="container">
      
      <!-- top banner -->
      <!-- <div class="row">
        <div class="col-md-12">
          <img src="../static/images/Homepage-Top-Banner.jpg" alt="Home Page Top Banner"
            style="padding-bottom: 10px;width:950px;height:400px;">
        </div>
      </div> -->


      <!-- introduction -->
      <div class="row"><h1>Introduction</h1></div>

        <!-- <div class="col-md-12"> -->
        <div class="para">
          <p class="homepage-info">This dashboard seeks to look at NYC eviction data from the years 2017 to 2019. 
            Visualizations are based on data extracted from the City of New York website (NYC Open Data). Because of COVID-19 
            and a moratorium on evictions from mid-March 2020 through October 1, there was no data for at least half of the year 2020. 
            Despite this, our team decided to continue analyzing eviction data from 2017 to 2019 to see if there are any trends we
            can uncover.</p>
          <p class="homepage-info">When tenants, for any reason, are not paying their rent or are otherwise not legally
            occupying their apartment, landlords can mount a nonpayment or holdover eviction proceeding against them and 
            bring them to housing court. In NYC, housing courts in all boroughs are usually filled with frenzied landlords, 
            tenants, lawyers, and housing court and community organization officials. Before the COVID-19 pandemic happened, 
            evictions and housing court cases were in full swing as regularly scheduled programming. 
            But during this unprecedented time of a global pandemic, in mid-March 2020, Governor Andrew Cuomo issued 
            a moratorium on evictions. Now, residential tenants cannot be evicted through October 1.</p>
          <p class="homepage-info">In the ' Visualizations' section, you can find four interactive charts. In the charts, we
            looked at evictions by borough, by property type, by zip code, and year over year. In the 'NYC Map' tab, you can find a dynamic map
            in which we plotted all the eviction data by zipcodes for each year. </p>
        </div>
      </div>
      <!-- image # two -->
      <div class="row">
        <div class="col-md-8">
          <img src="../static/images/Homepage-Banner-Two.jpg" alt="Home Page Banner Two"
            style="padding-top: 20px; 
                  padding-left: 150px; 
                  width:800px; 
                  height:400px; 
                  -ms-grid-column-align: center;">
        </div>

      </div>
    </div>
</div>

  
</body>

</html>